html,
body {
    color-scheme: only dark;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
    background-color: #0d0f11;
}

#root {
    isolation: isolate;
}
